@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  box-sizing: border-box;
  font-family: "Kodchasan", sans-serif;
}

body{
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container{
  margin: 30px auto;
  width: 350px;
  align-items: center;
}

.horizontal-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #842f2f;
  text-align: center;
}

.horizontal-menu li{
  display: inline-block;
}

.horizontal-menu a{
  color: #f0f8ff ;
  text-decoration: none;
  padding: 16px;
  display: block;
}